version: '3.5'

services:
  my-task-board-app:
    build:
      context: .
      dockerfile: Dockerfile
    image: my-task-board:v1
    container_name: my-task-board
    restart: on-failure
    ports:
      - 8080:80
